{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="banner-area strokeme2">
        <h2 class="gold"> Pharaoh <img src="/static/anubis.png" height="150" width="150"> Fitness </h2>
    </div>
    <div class="content-area">
        <h2 class="strokeme2 gold"> Welcome to the greatest gym in the Sahara </h2>
        {% if session["user_id"] and days_remaining > 0 %}
            <div class="black-box">
                <h1 class="gold">Days left on your membership: {{ days_remaining }}</h1>
            </div>
            </br>
            </br>
        {% endif %}
        <h2> <a class="gold strokeme2" href="/membership" style="text-decoration:none;"> Start Your Journey Here </a> </h2>
    </div>
{% endblock %}