{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" id="form_login">
        <div style="color: #FFD700">
            <h1> Pharaoh <img src="/static/anubis.png" height="60" width="60"> Fitness </h1>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Re-enter password" type="password">
        </div>
        <a style="color: #FFD700; font-size: 12px;"> Password must have at least one capital letter, at least one non-alphabetic digit, and be at least 8 characters long </a>
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}